@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&family=Raleway&display=swap");

$white-color: #ffffff;
$black-color: #231f20;
$cyan-color: #70cbce;
$gray-color: #929496;
$violet-color: #6d3f96;
$gold-color: #fdc05d;

body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;

    section {
        min-height: 100vh;
    }
}

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
}

p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
}

@keyframes mouse-y {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

// snow hills section

.snow_hills {
    background-image: url("/static/images/hills.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .buttons {
        .b-cyan,
        .b-light {
            border-radius: 0;
            width: 50%;
            padding: 10px;
            margin: 15px;
            border-radius: 4px;
        }
        .b-light {
            background-color: $white-color;
            color: $gray-color;
        }

        .b-cyan {
            background-color: $cyan-color;
            color: $white-color;
        }
    }

    .mouse {
        animation-name: mouse-y;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}

.navbar-simple-a {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin-bottom: 0;

    li {
        padding: 0 10px;
        a {
            color: $white-color;
            text-decoration: none;
        }
    }
}

// snow bg text section

.snow_text {
    background-image: url("/static/images/snow.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: $white-color;

    .custom-cont {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .custom-snow-image {
        height: 75vh;
        margin: 10px auto;
        position: absolute;
        bottom: -25vh;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

//  features

.features {
    padding-top: 30vh;


    .custom-panel {
        border-radius: 0;
        border-top-style: solid;
        border-top-width: 2px;

        h5 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
        }
        p {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
        }

        &.violet {
            border-top-color: $violet-color;
        }
        &.cyan {
            border-top-color: $cyan-color;
        }
        &.gold {
            border-top-color: $gold-color;
        }
    }
}

// payments

.payments {
    background-color: $cyan-color;

    h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
    }

    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 26px;
    }

    .custom-cards {
        .card {
            text-align: center;
            border: none;

            ul {
                li {
                    &:first-child {
                        background-color: $black-color;
                        color: $white-color;
                    }
                    &:nth-child(2) {
                        background-color: #353031;
                        color: $white-color;
                    }
                }
            }
        }
    }
}

