@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&family=Raleway&display=swap");

$white-color: #ffffff;
$black-color: #231f20;
$cyan-color: #70cbce;
$gray-color: #929496;
$violet-color: #6d3f96;
$gold-color: #fdc05d;

body {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;

    section {
        min-height: 100vh;
    }
}

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
}

p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
}

@keyframes mouse-y {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

// snow hills section

.snow_hills {
    background-image: url("/static/images/hills.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .buttons {
        .b-cyan,
        .b-light {
            border-radius: 0;
            width: 50%;
            padding: 10px;
            margin: 15px;
            border-radius: 4px;
        }
        .b-light {
            background-color: $white-color;
            color: $gray-color;
        }

        .b-cyan {
            background-color: $cyan-color;
            color: $white-color;
        }
    }

    .mouse {
        animation-name: mouse-y;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}

.navbar-simple-a {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
    margin-bottom: 0;

    li {
        padding: 0 10px;
        a {
            color: $white-color;
            text-decoration: none;
        }
    }
}

// snow bg text section

.snow_text {
    background-image: url("/static/images/snow.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: $white-color;

    .custom-cont {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .custom-snow-image {
        height: 75vh;
        margin: 10px auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        @media screen and (max-width: 768px) {
            height: 60vh;
        }
        @media screen and (min-width: 992px) {
            height: 100vh;
        }
    }
}

//  features

.features {
    padding-top: 25vh;

    @media screen and (max-width: 576px) {
        padding-top: 0;
    }

    .custom-panel {
        border-radius: 0;
        border-top-style: solid;
        border-top-width: 2px;

        h5 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 30px;
        }
        p {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
        }

        &.violet {
            border-top-color: $violet-color;
        }
        &.cyan {
            border-top-color: $cyan-color;
        }
        &.gold {
            border-top-color: $gold-color;
        }
    }
}

// payments

.payments {
    background-color: $cyan-color;

    h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
    }

    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 26px;
    }

    .custom-cards {
        .card {
            text-align: center;
            border: none;
            max-width: 380px;
            margin: 20px auto;
            transition-property: transform;
            transition-duration: 400ms;

            &:hover {
                transform: scale(1.1);
            }

            .card-footer {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $cyan-color;
                }
                background-color: rgba(196, 196, 196, 0.3);
            }

            ul {
                li {
                    border: none;
                    border-bottom: dotted 1px #ddd;
                    font-family: Raleway, sans-serif;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 22px;

                    &:first-child {
                        background-color: $black-color;
                        color: $white-color;
                        font-family: Montserrat, sans-serif;
                        font-size: 14px;
                        line-height: 17px;
                        font-style: normal;
                        font-weight: 400;
                        border-bottom: none;
                    }
                    &:nth-child(2) {
                        background-color: #353031;
                        color: $white-color;
                        font-family: Montserrat, sans-serif;
                        font-weight: 700;
                        font-size: 35px;
                        line-height: 43px;
                        border: none;
                        span {
                            font-size: 0.6em;
                            font-weight: 400;
                            color: $gray-color;
                        }
                    }
                    &:nth-child(3) {
                        color: $gray-color;
                    }
                }
            }
        }
    }
}

.callback-form {
    background-color: #f2f2f2;
    h2 {
        font-size: 40px;
    }

    .cust-submit {
        background-color: $cyan-color;
        color: $white-color;
        padding: 20px;
        border-radius: 4px;
        transition-property: all;
        transition-duration: .2s;
        
        &:hover {
            background-color: $white-color;
            color: $gray-color;
            border-color: $white-color;
        }

        &:active {
            background-color: #eee;
            color: $gray-color;
            border-color: #eee;
            transform: scale(0.9);
        }
    }

    form {
        input[type="text"] {
            border-radius: 3px;
            height: 55px;
            font-size: 21px;
            line-height: 26px;
        }
    }
}

.footer {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    min-height: 40vh;

    img {
        transition-property: transform;
        transition-duration: .4s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
